@import './common';
@import './general-styles/mixins';
@import './common-elements/calendar';
@import './general-styles/general-style';
@import './general-styles/colors';
@import './components/filter';
@import './components/footer';
@import './components/gallery';
@import './components/header';
@import './components/pagination';
@import './components/notfindnews';
@import './components/weather';
@import './components/read_page';

//@import './read.scss';

