@import './general-styles/mixins';
@import './components/sort-gallery';
@import './components/header';
@import './general-styles/general-style';
@import './general-styles/colors';
@import './components/footer';
@import './common';
@import './components/notfindnews';
@import './read.scss';
