<div class="catagories-calendar">
    <div class="catagories">
        <div class='catagories__item-container'></div>
        <div class="catagories__container-btn">
            <button type="button" class="catagories__btn" aria-expanded="false"><span
                    class="catagories__btn-name">Categories</span>
                <svg width="14" height="14" aria-label="Перемикач випадаючого вікна">
                    <use class="icon-down" href="/src/images/sprite.svg#icon-Frame-down"></use>
                    <use class="icon-up" href="/src/images/sprite.svg#icon-Frame-up"></use>
                </svg>
            </button>
            <div class="catagories__container-list">
                <ul class="catagories__list"></ul>
            </div>
        </div>
    </div>

</div>