<!-- Header -->

<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo">News</a>
    <nav>
      <ul class="navbar" id="navbar">
        <li class="navbar__item">
          <a href="./index.html" class="navbar__link">Home</a>
        </li>
        <li class="navbar__item">
          <a href="./favorite.html" class="navbar__link">Favorite</a>
        </li>
        <li class="navbar__item">
          <a href="./read.html" class="navbar__link">Read</a>
        </li>
      </ul>
    </nav>
    <form class="search-field" id="form-field">
      <button class="search-field__btn" id="form-btn">
        <svg class="search__icon" width="16" height="15">
          <use href="./images/sprite.svg#icon-bx_search"></use>
        </svg>
      </button>
      <input type="text" id="search-field__input" placeholder="Search" name="search" autocomplete="off" />
    </form>

    <div class="theme">

      <svg class="theme__svg sun" width="21" height="21">
        <use href="./images/sprite.svg#icon-sun"></use>
      </svg>
      <p class="theme__light">Light</p>
      <label class="switch">
        <input type="checkbox" class="switch-checkbox" />
        <span class="slider round"></span>
      </label>
      <p class="theme__dark opacity">Dark</p>
      <svg class="theme__svg moon" width="21" height="21">
        <use href="./images/sprite.svg#icon-moon"></use>
      </svg>
    </div>
    <button type="button" class="mobile-button js-open-menu burger-menu" aria-expanded="false">
      <!-- <svg width="24" heigth="24">
            <use href="./images/sprite.svg#icon-menu-1"></use>
          </svg> -->
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </button>
  </div>
</header>
<div class="mobile-menu js-menu-container">
  <div class="mobile-menu__container">
    <div class="mobile-menu__wrapper">
      <a href="./index.html" class="logo">News</a>
      <button type="button" class="close-btn js-close-menu">
        <svg width="24" height="24">
          <use href="./images/sprite.svg#icon-x"></use>
        </svg>
      </button>
    </div>
    <ul class="navbar-mobile__list">
      <li class="navbar-mobile__item">
        <a href="./index.html" class="navbar-mobile__link navbar-mobile__link--current">
          <div class="navbar-mobile__icon-wrapper navbar-mobile__icon-wrapper--current">
            <svg width="32" height="32" class="navbar-mobile__icon">
              <use href="./images/sprite.svg#icon-icon-home"></use>
            </svg>
          </div>
          Home
          <svg width="24" height="12" class="current-page__icon">
            <use href="./images/sprite.svg#icon-Frame-down"></use>
          </svg>
        </a>
      </li>
      <li class="navbar-mobile__item">
        <a href="./favorite.html" class="navbar-mobile__link">
          <div class="navbar-mobile__icon-wrapper">
            <svg width="32" height="32" class="navbar-mobile__icon">
              <use href="./images/sprite.svg#icon-icon-favorit"></use>
            </svg>
          </div>
          Favorite
        </a>
      </li>
      <li class="navbar-mobile__item">
        <a href="./read.html" class="navbar-mobile__link">
          <div class="navbar-mobile__icon-wrapper">
            <svg width="32" height="32" class="navbar-mobile__icon">
              <use href="./images/sprite.svg#icon-icon-read"></use>
            </svg>
          </div>
          Read
        </a>
      </li>
    </ul>
  </div>
</div>