.wrap-filter {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  cursor: pointer;
}

.calendar {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 1285px) {
    flex-direction: column-reverse;
    margin: 0 0 0 35px;
  }

  p {
    margin-right: 31px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.37;

    @media only screen and (max-width: 1285px) {
      white-space: pre;
      margin: unset;
      color: #7f7f82;
      text-align: center;
    }

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}

// .calendar__text-tablet,
// .calendar__text-mobile {

//     display: none;

// }
// .calendar__text-desktop{
//     display: block;
//     margin-right: 31px;
//     font-size: 18px;
//     font-weight: 700;
//     line-height: 1.37;
// }


.wrap__input {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  border: 1px solid #111321;
  border-radius: 20px;
  padding: 0 20px;

  &.active {
    background-color: #4440f7;
    color: white;

    .calendar__icon {
      color: white;
      fill: white;
    }

    .date-picker::placeholder {
      color: inherit;
      opacity: 0.9;
    }

    .calendar__arrow {
      fill: white;
    }

    &.close {
      .calendar__arrow {
        fill: white;
        translate: translate(0, -50%)rotate(90deg);
      }
    }
  }

  .calendar__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(0, -50%);
    fill: var(--accent-color);
  }

  .calendar__arrow {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(0, -50%);
    fill: var(--accent-color);

    &.open {
      transform: rotate(180deg)translateY(5px);
    }
  }


}

.date-picker {
  width: 100%;
  max-width: 168px;
  padding: 4px 25px;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.31;
  letter-spacing: 2%;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;

  &::placeholder {
    color: #111321;
    opacity: 0.4;
  }

  &:focus {
    outline: none;
  }

  @media only screen and (max-width: 798px) {
    padding: 4px 15px;
  }

  @media only screen and (max-width: 767px) {
    max-width: 152px;
  }
}


.numInputWrapper {
  position: unset !important;
}

.flatpickr-calendar {
  border-radius: 20px !important;
  background: #f8f8f8 !important;
  box-shadow: 0px 10px 60px rgb(0 0 0 / 10%) !important;
  position: relative;

  .arrowUp {
    width: unset !important;
    height: unset !important;
    opacity: 1 !important;
    top: 50% !important;
    right: -50px !important;
    transform: rotate(90deg) translateX(-18%);

    &::after {
      content: '';
      width: 9px !important;
      height: 9px !important;
      border-left: 1px solid #4440f7 !important;
      border-top: 1px solid #4440f7 !important;
      border-right: unset !important;
      border-bottom: unset !important;
      transform: rotate(45deg);
    }
  }

  .arrowDown {
    width: unset !important;
    height: unset !important;
    opacity: 1 !important;
    top: 50% !important;
    right: -16px !important;
    transform: rotate(90deg) translateX(-18%);

    &::after {
      content: '';
      width: 9px !important;
      height: 9px !important;
      border-right: 1px solid #4440f7 !important;
      border-top: 1px solid #4440f7 !important;
      border-left: unset !important;
      border-bottom: unset !important;
      transform: rotate(130deg);
    }
  }
}

.flatpickr-next-month {
  right: 30% !important;
}

.flatpickr-current-month {
  left: 0% !important;
}

.flatpickr-prev-month {
  color: #4440f7 !important;
  fill: #4440f7;
}

.selected {
  background-color: #4440f7 !important;
}

.darkMode {
  .wrap__input {
    border: 1px solid white;
  }

  .date-picker::placeholder {
    color: #f4f4f4;
  }

  .calendar__arrow {
    fill: #f4f4f4;
  }
}