<div class="calendar">
  <p class="calendar__text">Search date news</p>
  <div class="wrap__input">
    <svg class="calendar__icon" width="19" height="19">
      <use href="./images/sprite.svg#icon-calendar"></use>
    </svg>
    <input type="text" id="date-picker" class="date-picker" placeholder="Select Date" data-date="" data-sort=""
      data-input />
    <svg class="calendar__arrow" width="14" height="14">
      <use href="/src/images/sprite.svg#icon-arrow-down"></use>
    </svg>
  </div>
</div>