.read__news__container {
  .accord {
    margin-top: 60px;

    .title__date {
      margin: 12px 0 12px 0;
      display: inline-block;
      position: relative;
      cursor: pointer;

      &::after {
        content: '';
        width: 12px;
        height: 12px;
        border-top: 3px solid #111321;
        border-left: 3px solid #111321;
        border-right: unset;
        border-bottom: unset;
        position: absolute;
        top: 1px;
        right: -29px;
        transform: rotate(224deg);
      }
    }

    .title__date__rotate {
      &::after {
        border-bottom: 3px solid #111321;
        border-right: 3px solid #111321;
        border-top: unset;
        border-left: unset;
        position: absolute;
        top: 7px;
      }
    }

    .gallery__list {
      max-height: 30px;
      justify-content: flex-start;
      overflow: hidden;
      padding-top: 40px;
      transition: 0.5s;
      border-top: 1px solid #929292;
    }

    .gallery__list__open {
      max-height: 10000px;
    }
  }
}

.read__news__container__hidden {
  display: none;
}