$colors: (
  primary-text-color: #111321,
  secondary-text-color: #A8A8A8,
  accent-color: #4440F6,
  primary-background-color: #FFFFFF,

);


@function getColor($key) {
  @return map-get($colors, $key);
}