
body {
    font-family: 'Manrope', sans-serif;
    font-size:14px;
    line-height: 150%;
    font-style: normal;
    font-weight: 400;
    color: getColor('primary-text-color');
    background-color: getColor('primary-background-color');
}

button {
    cursor: pointer;
    font-family: inherit;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
ul,
p {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
//   cursor: url(../../images/cursor-hand.svg), pointer;
}

img {
  width: 100%;
  display: block;
}

address {
  font-style: inherit;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
//   cursor: url(../../images/cursor-hand.svg), pointer;
  background-color: inherit;
  box-shadow: none;
}

svg {
  fill: currentColor;
}
main {
  min-height: calc(100vh - 285px);
}